body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'system-ui', 'sans-serif';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
}